extends layout

block content
    h1 Puella Magi Madoka Magica
    p
        a(href='/list') Magical girls
        |  ·
        a(href='/list-witches') Witches
        |  ·
        a(href='/list-familiars') Familiars
